.main div{
  display:flex;
  flex-direction:column;
  color:white;
}
.main{
  width:300px;
  margin:10px auto;
}
.svgContainer{
  display:flex;
  width: 200px;
  margin: 50px;
}
.svgContainer h2{
width: 200px;
}
.main h1{
text-align:center;
}
.main h3{
  text-align:center;
  font-weight: 100;

  }
.main h2{
  text-align:center;
  }
  .main svg{
margin: 0 auto;
    margin-bottom: 10px;
    }
  .adress{
    margin-top: 50px;
    margin-bottom: 10px;
    }
  .adressCont{
    color: rgb(255, 148, 66);
    margin-top: 20px;
  }