.main{
  color: #fff;
  text-align: center;
}
.main img{
  background-color: #fff;
  border-radius:50px;

  
}
.main div{
  max-width: 800px;
margin: 0 auto;
}
.main h3{
  margin: 30px auto 10px;
}
.main div{
  margin-bottom: 70px;
}